<!-- <div class="d-flex" id="wrapper"> -->
    <!-- Sidebar -->
    <!-- <div class="bgm border-right " id="sidebar-wrapper">
      <div class="sidebar-heading">LOGO -->
          <!-- <img src="../../assets/toppng.com-mulher-maravilha-símbolo-wonder-woman-logo-3800x1796.png"> -->
      <!-- </div>
      <div class="list-group list-group-flush">
        <a [routerLink]="['page-one']" class="list-group-item list-group-item-action ">Dashboard</a>
        <a  [routerLink]="['page-two']"class="list-group-item list-group-item-action">Shortcuts</a>
        <a  class="list-group-item list-group-item-action ">Overview</a>
        <a  class="list-group-item list-group-item-action">Events</a>
        <a  class="list-group-item list-group-item-action ">Profile</a>
        <a  class="list-group-item list-group-item-action ">Status</a>
      </div>
    </div> -->
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <!-- <div id="page-content-wrapper">
      <app-mainpage></app-mainpage>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div> -->
    <!-- /#page-content-wrapper -->



    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" >
          <i class="fa fab fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <a href="#">pro sidebar</a>
              <div id="close-sidebar">
                <i class="fa fab fa-times"></i>
              </div>
            </div>
            <div class="sidebar-header">
              <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                  alt="User picture">
              </div>
              <div class="user-info">
                <span class="user-name">
                  <strong> {{this.name}}</strong>
                </span>
                <span class="user-role">Administrator</span>
                <span class="user-status">
                  <i class="fa fa-circle"></i>
                  <span>Online</span>
                </span>
              </div>  
            </div>
            <!-- sidebar-header  -->
            <!-- <div class="sidebar-search">
              <div>
                <div class="input-group">
                  <input type="text" class="form-control search-menu" placeholder="Search...">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
              <ul>
                <li class="header-menu">
                  <span>General</span>
                </li>
                <li class="sidebar">
                  <a [routerLink]="['sidebar']">
                    <i class="fa fab fa-dashcube fa-5x"></i>
                    <span>Dashboard</span>
                    <!-- <span class="badge badge-pill badge-warning">New</span> -->
                  </a>
                  <!-- <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Dashboard 1
                          <span class="badge badge-pill badge-success">Pro</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">Dashboard 2</a>
                      </li>
                      <li>
                        <a href="#">Dashboard 3</a>
                      </li>
                    </ul>
                  </div> -->
                </li>
                <li class="sidebar">
                  <a [routerLink]="['page-two']">
                    <i class="fa fa-shopping-cart"></i>
                    <span>E-commerce</span>
                    <!-- <span class="badge badge-pill badge-danger">3</span> -->
                  </a>
                  <!-- <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Products
      
                        </a>
                      </li>
                      <li>
                        <a href="#">Orders</a>
                      </li>
                      <li>
                        <a href="#">Credit cart</a>
                      </li>
                    </ul>
                  </div> -->
                </li>
                <li class="sidebar">
                  <a [routerLink]="['pokidesk']">
                    <!-- <i class="fa far fa-gem"></i> -->
                    <i class="fa far fa-address-card"></i>
                    <span>Poki-Desk</span>
                  </a>
                  <!-- <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">General</a>
                      </li>
                      <li>
                        <a href="#">Panels</a>
                      </li>
                      <li>
                        <a href="#">Tables</a>
                      </li>
                      <li>
                        <a href="#">Icons</a>
                      </li>
                      <li>
                        <a href="#">Forms</a>
                      </li>
                    </ul>
                  </div> -->
                </li>
                <li class="sidebar">
                  <a [routerLink]="['page-one']">
                    <i class="fa fab fa-dashcube fa-5x"></i>
                    <span>Crud</span>
                  </a>
                  <!-- <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Pie chart</a>
                      </li>
                      <li>
                        <a href="#">Line chart</a>
                      </li>
                      <li>
                        <a href="#">Bar chart</a>
                      </li>
                      <li>
                        <a href="#">Histogram</a>
                      </li>
                    </ul>
                  </div> -->
                </li>
                <li class="sidebar">
                  <a >
                    <i class="fa fa-globe"></i>
                    <span>Maps</span>
                  </a>
                  <!-- <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Google maps</a>
                      </li>
                      <li>
                        <a href="#">Open street map</a>
                      </li>
                    </ul>
                  </div> -->
                </li>
                <!-- <li class="header-menu">
                  <span>Extra</span>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Documentation</span>
                    <span class="badge badge-pill badge-primary">Beta</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-calendar"></i>
                    <span>Calendar</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>Examples</span>
                  </a>
                </li> -->
              </ul>
            </div>
            <!-- sidebar-menu  -->
          </div>
          <!-- sidebar-content  -->
          <div class="sidebar-footer">
            <!-- <a href="#">
              <i class="fa fa-bell"></i>
              <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
              <i class="fa fa-envelope"></i>
              <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a >
              <i class="fa fa-cog"></i>
              <span ></span>
            </a> -->
            <a>
              <i (click)="onlogout()" class="fa fa-power-off">LOGOUT</i>
            </a>
          </div>
        </nav>


        
        <!-- sidebar-wrapper  -->
        <main class="page-content">
          <div class="container-fluid">
              <router-outlet></router-outlet>
          </div>
        </main>
        <!-- page-content" -->
      </div>