<!-- <div  class="container bgm">
<img class="bgm1" src="../../../assets/pokemon/rotate.png" > 
</div> -->
<!-- <iframe src='https://gfycat.com/ifr/AjarLastingApisdorsatalaboriosa' frameborder='0' scrolling='no' allowfullscreen width='640' height='400'></iframe><p> <a href="https://gfycat.com/ajarlastingapisdorsatalaboriosa">via Gfycat</a></p> -->
<div class="row">
  <div >
<img  src="../../../assets/pokemon/pokemon.jpg" style=" width: 100%;height: 230px;">
  </div>
  </div>
<div class="container-fluid  shadow-lg p-3 mb-5 bg-white rounded bgm">
  
        <div class="row">
          <div class="col-md-4" >
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">
          </div>
          <div class="col-md-3">
          </div>

          <div class="col-md-5">
            <ngb-pagination [pageSize]="100" [collectionSize]="chettas.length" [(page)]="page"
              aria-label="Default pagination">
            </ngb-pagination>
          </div>
        </div>
      
        <div class="row ">
      
          <div class="col-md-4" *ngFor="let nam of chettas
        | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize
          | NamFilter: query 
                ;let i=index ">
      
            <div class="profile-card-6" (click)="show(nam)">
              <img src="../../../assets/{{nam.image}}" class="img img-responsive imgs" alt=" profile-image card">
              <div class="profile-name">{{ nam.name }}</div>
              <div class="profile-overview">
                <div class="profile-overview">
                  <div class=" text-center">
                    <div class="col-md-12 ">
                      <h3>{{ i+1 }}</h3>
                      <p>Rank</p>
                    </div>
      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
     
</div>