.bgm{
    background-position-x: center;
    background-image: url('../../../assets/pokemon/pokemon-go-hd-wallpaper.jpg');

}
// .bgm1{
//     margin-top: 404px;
//     margin-left: 477px;
// }
.bgm{
    // background-color:#323a40;
    
    background-image: url('../../../assets/pokemon/bgm.jpg');
}
.imgs{
    width: 100%;
}
.profile-card-6 {
    max-width: 300px;
    height: 350px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}
.profile-card-6 .profile-name {
    position: absolute;
    top: 273px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #343a40;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}
.profile-card-6 .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}
.profile-card-6 .profile-overview {
   top: 38px;
   text-align: right;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
    top: 110px;
}
.profile-card-6 .profile-overview h3 {
    font-weight: bold;
    text-align: right;

}
.profile-card-6 .profile-overview p {
    // font-weight: bold;
    text-align: right;

}
// .profile-card-6 .profile-overview p {
//     color: rgba(255, 255, 255, 0.7);
// }

// .profile-card-6:hover img {
//     filter: brightness(80%);
// }

.profile-card-6:hover .profile-name {
    padding-left: 10px;
    padding-top: 20px;
}

.profile-card-6:hover .profile-position {
    left: 40px;
}

.profile-card-6:hover .profile-overview {
    padding-bottom: 25px;
}
.texts{
color: white;
}