<!-- <div class="container">
<div class="row">

<div class="col-md-4">

</div>
<div class="col-md-4 text-center">
<h1>LOGIN PAGE</h1>
<hr>
<div>
    NAME:
<input>
</div>
<div>
    password:
<input>
</div>
<div>
    <button class="btn btn-success" (click)="onlogin()" >submit</button>
</div>
</div>
<div class="col-md-4">

</div>
</div>
</div> -->



	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<h4 class="company_title">Your Company Logo</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row rows">
						<h2>Log In</h2>
					</div>
					<div class="row rows">
						<form [formGroup]="loginForm"
						(ngSubmit)="onlogin(loginForm.value)"
						control="" class="form-group">
						<div class="row rows">
							<input type="email" formControlName="email" name="email" id="email" class="form__input"
							 placeholder="Email"
							 [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
							 <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
								<div *ngIf="f.email.errors.required">Email is required</div>
						<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
						</div>
					</div>
							<div class="row rows">
								<!-- <span class="fa fa-lock"></span> -->
								<input type="password" name="password" id="password" class="form__input" placeholder="Password"
								formControlName="password"
								[ngClass]="{'is-invalid':submitted && f.password.errors}"/>
								<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
								<div *ngIf="f.password.errors.required" >Password is Required</div>
								<div *ngIf="f.password.errors.minlength" >Password must be atleast 6 character </div>
								</div>
							</div>
							<div class="row rows">
								<input type="checkbox" name="remember_me" id="remember_me" class="">
								<label for="remember_me">Remember Me!</label>
							</div>
							<div class="row rows">
								<p class="errs">{{this.ers}}</p>
							</div>
							<div class="row rows">
								<input type="submit" value="Submit" class="btn">
							</div>
						</form>
					</div>
					<div class="row rows">
						<p>Don't have an account? <a routerLink="register">Register Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="container-fluid text-center footer">
	<p>	Coded with &hearts; by <a >Sathish.</a></p>
	<!-- <router-outlet></router-outlet> -->
	</div>