.bgm{
    // background-color:none;
    background-position: center;
    background-image: url('../../../../assets/pokemon/pokemon-go-hd-wallpaper.jpg');
}
.card{
    background-image: url('../../../../assets/pokemon/bgm.jpg');
   color: white; 
    // background-color:black; 
    width: 25rem;
    // margin-top: 25px;
    // opacity: 50%;
    border-radius: 70px;
    margin-left: 95px;

}
.img{
    border-radius: 20%;
}

.tit{
    color: white;
}
// smart-chart {
// 	width: 100%;
// 	max-width: 850px;
// }
.chart{
    margin-top: 145px;
    color: white;
}
.chart1{
    background-color: white;
    margin-top: 190px; 
      border-radius: 50px;
        // margin-left: 175px;
          width: 80%;
           height: 400px;
}