<div class="container-fluid  shadow-lg p-3 mb-5 bg-white rounded bgm">
<div class="row">
     
    <div class="col-md-6 " *ngFor="let nam of parts;let i=index ">
      <div class="card " >
        <img class="card-img-top img " src="../../../assets/{{ nam.image }}" alt="Card image cap">
        <div class="card-body">
          <!-- <div class="tit">  -->
          <h5 class="card-title">{{ nam.name }}</h5>
          <p class="card-text">{{ nam.description }}</p>
          <!-- <div> -->
          
          <h5>Abilities</h5>
          <p class="card-text">{{ nam.abilities }}</p>
          <h5>Evalutions</h5>
          <p class="card-text">{{ nam.evolutions }}</p>
          <h5>Types</h5>
          <p class="card-text">{{ nam.types }}</p>
         
        </div>
      </div>
    </div>
    <div class="col-md-6 chart">
      <div id="chartdiv"  class="chart1"></div>
    </div>
  </div>
</div>