<!-- <div class="row">
    <div class="col-md-2 bgm">
       
        <div class="sbi">

            <a [routerLink]="['page-one']">
            <i class="fa fab fa-dashcube fa-5x" aria-hidden="true"> </i><br>
                <span class="lfs" >DASHBORD</span>
            </a>
        </div>
        <div class="sbi">
            <a [routerLink]="['page-two']">
                <i class="fa fab fa-500px fa-5x"></i><br>
                <span class="lfs">CONTENT</span>
            </a>
        </div>
    
      

    </div>


    <div class="col-md-10">
        <div class="row nbgm">
            <div class="col-md-10">
            </div>
            <div class="col-md-2 mt-5">
            <button class="btn btn-primary" (click)="onlogout()" >LOGOUT</button>
        </div>
    </div>
    <div class="col-md-12">

        <router-outlet></router-outlet>
    </div>
</div>

</div> -->


<div class="container h-100">
  <div class="row ">
    <div class="col-md-6 col-lg-4 column">
    
      <div (click)="divert()" class="card gr-1">
        <!-- <div class="txt">
          <h1>BRANDING AND </br>
CORPORATE DESIGN</h1>
          <p>Visual communication and problem-solving</p>
        </div> -->
        
        <div class="ico-card">
            <h3>POKI-DESK</h3>
        <i  class="fa fa-rebel"></i>
      </div>
      </div>

    </div>
    <div class="col-md-6 col-lg-4 column">
      <div (click)="divert1()" class="card gr-2">
        <!-- <div class="txt">
          <h1>Web Front-End </br>
SOLUTIONS</h1>
          <p>How design is implemented on the web.</p>
        </div> -->
        
      <div class="ico-card">
        <h3>CRUDE</h3>
        <i class="fa fa-codepen"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div (click)="divert2()" class="card gr-3">
        <!-- <div class="txt">
          <h1>UX/UI WEBsite </br>AND MOBILE app</h1>
          <p>User Interface and User Experience Design.</p>
        </div> -->
        
      <div class="ico-card">
        <h3>DESK</h3>
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>
    
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>