<div class="continer shadow-lg p-3 mb-5 bg-white rounded">
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="stl">CREATE CHARACTERS</h1>
    </div>
</div>

<!-- CREATE FORM AREA -->

<form [formGroup]="character" (ngSubmit)="onsave(character.value)" control="">
    <div class="row">

        <div class="col-md-4">
            <input type="text" formControlName="name" placeholder="CHARACTER NAME" class="form-control">
        </div>
        <div class="col-md-4">
            <select type="text" formControlName="type" placeholder="SELECT TYPE..." class="form-control">
                <option>Ground</option>
                <option>Water</option>
                <option>Fire</option>
                <option>Thunder</option>
                <option>Wind</option>
            </select>
        </div>
        <div class="col-md-4">

            <input type="file" formControlName="image" class="form-control-file border" name="file">
        </div>

    </div>

    <div class="row mt-4">

        <div class="col-md-4 ">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-success">SUBMIT</button>
        </div>
        <div class="col-md-4 ">
        </div>

    </div>
</form>

<!-- DISPLAY FORM AREA -->

<div class="row ">
    <div class="col-md-4" *ngFor="let nam of ary ;let i=index ">
        <div class="profile-card-6">
            <img class="img img-responsive imgs" alt=" profile-image card" src="../../../assets/images/abra.jpg">
            <!-- <img src="../../../assets/images/{{nam.image}}" class="img img-responsive imgs" alt=" profile-image card"> -->
            <div class="profile-name">{{ nam.name }}</div>
            <div class="profile-overview">
                <div class="profile-overview">
                    <div class=" text-center">
                        <div class="col-md-12 ">
                            <h3>{{ i+1 }}</h3>
                            <p>{{ nam.type }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" (click)="onedit(content,nam,i)">EDIT</button>
            <button class="btn btn-danger" (click)="ondel(i)">DELET</button>
        </div>
    </div>

    <!-- EDIT POPUP AREA -->

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="echaracter" control="">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input type="text" formControlName="name" class="form-control" placeholder="CHARACTER NAME">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Type</label>
                    <select class="form-control" formControlName="type">
                        <option>Ground</option>
                        <option>Water</option>
                        <option>Fire</option>
                        <option>Thunder</option>
                        <option>Wind</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">image</label>
                    <input type="file" formControlName="image" class="form-control-file border"
                        placeholder="Effect Made">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="onsaved()">Save</button>
        </div>
    </ng-template>
</div>
</div>